.forgotpassword{
	width: 100%;
	padding: 20px;
	background:#EBF5FB;
	color:black;
	height: 100vh;
	
	box-sizing: border-box;
}
.linksbtn{
	text-decoration: none;
	color:darkblue;
	padding:7px 10px;
	border-radius: 4px;
}
.linksbtn:hover{
	text-decoration: none;
	background-color: lightgray ;
}


